.container {
  padding: 0 2em 2em 2em;

  .TextInput {
    float: left;
  }

  .Button {
    margin-left: 1.5em;
  }

  .loading-message {
    width: 585px;
    margin-top: 2em;
    margin-left: .5em;
    // text-align: center;
    animation: fadeIn 1s infinite alternate ease-in-out;
  }

  @keyframes fadeIn { 
    from { opacity: 0; } 
  }

  .analysis-results {
    width: 585px;
    margin-top: 2em;

    .card {
      margin-bottom: 1.5em;
      border-radius: 10px;
      padding: 1em;
      transition: .2s;
      background-color: #edf1f7;

      &:nth-of-type(2) {
        margin-bottom: 0;
      }

      &:hover {
        background-color: #edf1f7b0;
      }
    }

  }
  

}