.container {
  padding: 0 2em 2em 2em;

  .TextInput {
    float: left;
  }

  .Button {
    margin-left: 1em;
  }

  .loading-message {
    width: 585px;
    margin-top: 2em;
    text-align: center;
    animation: fadeIn 1s infinite alternate ease-in-out;
  }

  @keyframes fadeIn { 
    from { opacity: 0; } 
  }

  .analysis-results {
    width: 585px;
    margin-top: 2em;
  }
  

}